# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Storage (uploaded files)
storage/

# Docker volumes (if local)
pgdata/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/